<div class="">
	<div class="row">
    <div class="col-sm-12">
		<div id="chartdiv" style="width: 100%; height: 350px" class="bg-ligth">
	</div>
    </div>
</div>

<div class="container">
  <div class="row mt-4 text-white">
    <div class="col-sm-12 col-md-4 text-sm-center text-md-left">
      <div class="form-group form-check" (click)="viewScrollBar()">
        <input type="checkbox" class="form-check-input clickable-item"
            id="exampleCheck1" [(ngModel)]="showScroll">
        <label class="form-check-label clickable-item" for="exampleCheck1">
          Mostrar/Ocultar Scroll
        </label>
      </div>
    </div>
      
    <div class="col-sm-12 col-md-4 text-center">
      <div class="form-group">
        <label for="selectyear">
          Seleccione año
        </label>
        <select class="form-control" name="selectyear" [(ngModel)]="selectedYear" (ngModelChange)="setData()">
          <option [value]="year" *ngFor="let year of years">
            {{ year }}
          </option>
        </select>
      </div>
    </div>
  
    <div class="col-sm-12 col-md-4 text-sm-center text-md-right">
      <div class="form-group form-check" >
        <input type="checkbox" class="form-check-input clickable-item"
            id="exampleCheck2" [(ngModel)]="showGuides" (click)="viewGuides()"
            >
        <label class="form-check-label clickable-item" for="exampleCheck2">
          Mostrar/Ocultar Guías
        </label>
      </div>
    </div>
  
  </div>
</div>
